<main>
  <header>
    <h1 id="titulo">{{title}} </h1>
    <button (click)="getTasksFromService()">Get All Task</button>
    <app-create-task></app-create-task>
  </header>
  <br>
  <br>
    <article >
      <h1>{{TitleTasks}}</h1>
      <section  *ngFor="let item of listOfTasks">
        <div >Title:{{item.title}} - Description:{{item.description}}</div>
        <div >
          <button (click)="showTask(item)">Show</button>
          <button (click)="onDeleteTask(item._id)">Delete</button>
        </div>
      </section>
    </article>
  <br>
  <br>

  <app-edit-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-edit-task>

</main>
